/* Font face declarations */
@font-face
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
}

/* Event tile container */
.event-tile
{
    float: left;
    border-radius: 5px;
    margin: 5px;
    height: 225px;
    width: 310px;

    background-color: whitesmoke;

    font-family: 'Roboto';
}

.event-tile h1
{
    margin: 0.5em 0.5em;

    color: rgb(54,54,54);
    font-size: 1.3em;
    text-transform: uppercase;
}

.event-tile img
{
    border-radius: 5px 5px 0 0;
}

/* Event tile: date information */
.event-tile-date
{
    float: left;
    border-radius: 3px;
    margin: 0 5px;
    height: 95px;
    width: 80px;

    background-color: rgb(54,54,54);

    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.event-tile-date h1
{
    margin: 0 auto;

    color: whitesmoke;
    font-size: 3em;
}

.event-tile-date p
{
    margin: 0 auto;

    color: whitesmoke;
    font-size: 1em;
}

/* Labels */
.label-jdr
{
    float: left;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;

    background-color: rgb(125,80,220);

    color: whitesmoke;
    font-weight: bold;
}

.label-jeux
{
    float: left;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;

    background-color: rgb(18,179,154);

    color: whitesmoke;
    font-weight: bold;
}

.label-open
{
    float: left;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;

    background-color: rgb(76,168,76);

    color: whitesmoke;
    font-weight: bold;
}

.label-closed
{
    float: left;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;

    background-color: rgb(200,0,0);

    color: whitesmoke;
    font-weight: bold;
}